* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #75B8C8;
    text-align: center;

}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}

.box {
    height: 19vmin;
    width: 19vmin;
    border-radius: 1rem;
    box-shadow:0 0 1rem rgba(0,0,0,0.1) ;
    border: none;
    font-size: 10vmin;
    background-color: #ffffc7;
    color: black;

}
#reset {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: hsl(60, 14%, 9%);
    color: whitesmoke;
    border-radius: 1rem;
    border: none;
}
#new-btn {
     padding: 1rem;
    font-size: 1.5rem;
    background-color: hsl(60, 14%, 9%);
    color: whitesmoke;
    border-radius: 1rem;
    border: none;
}
#msg {
    color:#ffffc7;
    font-size: 10vmin;
}
.msg-container {
    height :100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide {
 display: none;
}